name: Rust CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libssl-dev libpq-dev

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-unknown-unknown
        components: clippy, rustfmt

    - name: Rustfmt Check
      run: cargo fmt --all -- --check

    - name: Clippy Check
      run: cargo clippy -- -D warnings

    - name: Cache Cargo
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Backend - Check & Test
      run: |
        cd backend
        cargo check
        cargo test

    - name: Contracts - Check
      run: |
        cd contracts
        cargo check

    - name: Install Trunk
      run: cargo install trunk

    - name: Frontend - Build
      run: |
        cd frontend
        trunk build
